/* mobile */
@media screen and (max-width: 767px) {

	.container {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"header"
		"box1"
		"box2"
		"box3"
		"content"
		"sidebar"
		"footer";
	}

	#header {
		height: 90px;
		grid-area: header;
	}

	[class*='box'] {
		height: 90px;
	}

	[class*='content'] {
		height: 90px;
	}
	
	.box1 {
		grid-area: box1;
	}
	
	.box2 {
		grid-area: box2;
	}
	.box3 {
		grid-area: box3;
	}

	.content {
		grid-area: content;
	}

	.content-sidebar {
		grid-area: sidebar;
	}

	#footer {
		height: 360px;
		grid-area: footer;

		grid-template-columns: 1fr;
		grid-template-areas: 
		"footer1"
		"footer2"
		"footer3"
		"footer4";
	}

	.footer1 {
		grid-area: footer1;
	}
	
	.footer2 {
		grid-area: footer2;
	}
	
	.footer3 {
		grid-area: footer3;
	}
	
	.footer4 {
		grid-area: footer4;
	}

	[class*='footer'] {
		margin: 4px;
	}
}