/* small desktop monitor */
@media screen and (max-width: 1200px) {
	.box1 {
		grid-column: 1 / 4;
	
	}
	
	.box2 {
		grid-column: 4 / 10;
	}
	
	.box3 {
		grid-column: 10 / 13;
	}

	.content {
		grid-column: 1 / 9
	}
	
	.content-sidebar {
		grid-column: 9 / 13;
	}
}