/************** Dont change anything in the body ******************/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/***********************************************************/

/* Begin coding your solution below */

.container {
	/* border: 1px solid black; */
	width: 89%;
	margin: 20px auto;
	display: grid;

	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 2%;

}

#header {
	border: 1px solid black;
	grid-column: 1 / 13;
	grid-row: 1 / 2;
	height: 200px;
}

[class*='box'] {
	border: 1px solid black;
	grid-row: 2 / 3;	
}

.box1 {
	grid-column: 1 / 3;

}

.box2 {
	grid-column: 3 / 11;
}

.box3 {
	grid-column: 11 / 13;
}

[class*='content'] {
	border: 1px solid black;
	grid-row: 3 / 4;
}

.content {
	grid-column: 1 / 10
}

.content-sidebar {
	grid-column: 10 / 13;
}



#footer {
	border:  1px solid black;
	grid-column: 1 / 13;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1;
	gap: 1%;
}

[class*='footer'] {
	margin: 10px;
}

.footer1 {
	border: 1px solid black;
	grid-column: 1 / 4;
}
.footer2 {
	border: 1px solid black;
	grid-column: 4 / 7;
}
.footer3 {
	border: 1px solid black;
	grid-column: 7 / 10;
}
.footer4 {
	border: 1px solid black;
	grid-column: 10 / 13;
}

/* small desktop monitor */
@media screen and (max-width: 1200px) {
	.box1 {
		grid-column: 1 / 4;
	
	}
	
	.box2 {
		grid-column: 4 / 10;
	}
	
	.box3 {
		grid-column: 10 / 13;
	}

	.content {
		grid-column: 1 / 9
	}
	
	.content-sidebar {
		grid-column: 9 / 13;
	}
}

/* tablets */
@media screen and (max-width: 960px) {
	[class*='box'] {
		grid-column: span 4;
	}

	[class*='content'] {
		grid-column: span 6;
	}

	#footer {
		border:  1px solid black;
		grid-column: 1 / 13;
		grid-row: 4 / 6;
	
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 2;
		gap: 0.2%;
	}

	[class*='footer'] {
		grid-column: span 6;
	}
}
