/* tablets */
@media screen and (max-width: 960px) {
	#header {
		height: 180px;
	}

	[class*="box"] {
		height: 180px;
		grid-column: span 4;
	}

	[class*="content"] {
		height: 180px;
		grid-column: span 6;
	}

	#footer {
		height: 360px;
		border:  1px solid black;
		grid-column: span 12;
		grid-row: span 2;
	
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 2;
		gap: 0.2%;
	}

	[class*="footer"] {
		grid-column: span 6;
	}
}
